.card {
  // border: 2px solid #e7e7e7;
  // border-radius: 4px;
  // padding: .5rem;
  position: relative;
  flex: 1 0 auto;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  width: 223px;
  max-height: 350px;

  &:hover &-info,
  &:focus &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  &-info {
    display: none;
  }
  
  &-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  &-name {
    margin-right: 2.2rem;
  }
  
  &-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  &-image {
    height: 100%;
  }
}
