@import '../styles/variables.scss';
@import '../../node_modules/bootstrap-scss/bootstrap.scss';
@import '../../node_modules/bootstrap-scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap-scss/bootstrap-reboot.scss';

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamMedium.woff2') format('woff2'), url('/fonts/GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.woff2') format('woff2'), url('/fonts/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/Gotham-Book.woff2') format('woff2'), url('/fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.app {
  display: flex;
}

.main {
  padding-top: 160px;
  padding-left: 70px;
  padding-right: 130px;
  display: flex;
  justify-content: center;
  // width: 100%;
  flex: 1;
}

html {
  overflow: auto;
}

body {
  font-family: 'Gotham book', Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 100vw;
  overflow: hidden;
  color: #6a6a6a;
  height: 100%;
}

h2 {
  font-family: 'Gotham Book';
  font-size: 30px;
  margin-bottom: 0;
}

p {
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 300;
  padding: 0 15px;
}

label,
input,
textarea,
.MuiFormControlLabel-label {
  font-family: 'Gotham' !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormLabel-root.Mui-focused {
  color: #2ab2af !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2ab2af !important;
}

.MuiFormLabel-root.Mui-error {
  color: #f5a623 !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #f5a623 !important;
}

.error-message, .MuiFormControl-root p.Mui-error {
  margin-top: 12px;
  margin-left: 0;
  color: #f5a623 !important;
  font-weight: bold;
}

.form-text-action {
  color: #2AB2AF;
  cursor: pointer;
  padding: 0;
  margin-top: 24px;
  text-align: center;
}

.MuiFormControl-marginNormal {
  margin-bottom: 16px;
}

.MuiFormControlLabel-label {
  font-weight: 300;
}

form {
  max-width: 420px;
  // hides the fields as long as the material design styles are not loaded
  label,
  input,
  textarea {
    display: none;
  }

  h1 {
    margin-bottom: 32px;
  }
}

ul {
  font-family: 'Gotham';
  font-weight: 100;
  margin-top: 20px;
}

h1 {
  font-family: 'Gotham';
  font-weight: bold;
  font-size: 1.8rem;
  color: #000;
}

.legal-terms {
  margin: 20px 0 0;
  font-size: 12px !important;
  color: #212425;
}

.link-button,
button, .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #005e6e;
  font-size: 16px;
  padding: 12px 10px 10px 10px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  border: none;
  outline: none !important;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
  height: 56px;

  &:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
  }

  &[disabled] {
    opacity: 0.37;
    background-color: #005e6e;
  }
}

button.outline, .button.outline {
  background-color: #fff;
  color: #232323;
  border: 2px solid #e6e8ea;
}

button.rounded, .button.rounded {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
}

form p {
  font-size: 16px !important;
  font-weight: 300 !important;
  padding: 0;
  margin-top: calc(1rem + 16px);
}
