
.cards {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-auto-rows: auto;
  // grid-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}
