.container {
  background: #f6f7f7;
  border: 1px dashed rgba(158, 171, 176, 0.71);
  border-radius: 28px;

  font-family: Helvetica;
  font-size: 16px;
  color: #8e9a9f;
  letter-spacing: -0.4px;
  text-align: center;
}

.slidableZone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  margin: 0 6px;
  min-height: 56px;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DA0F0F;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  left: 0;
}