.container {
  width: 26px;
  height: 26px;
  border: 1px solid #d1d1d1;
  border-radius: 26px;
  font-family: Helvetica;
  font-size: 14px;
  color: #232323;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
